<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.chapter3.UserMapper">
    <resultMap id="userMap" type="com.mybatis.chapter3.SysUser">
        <id property="id" column="id"/>
        <result property="userName" column = "user_name"/>
        <result property="userPassword" column = "user_password"/>
        <result property="userEmail" column = "user_email"/>
        <result property="userInfo" column = "user_info"/>
        <result property="headImg" column = "head_img" jdbcType="BLOB"/>
        <result property="create_time" column = "create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="roleMap" type="com.mybatis.chapter3.SysRole">
        <id property="id" column="id"/>
        <result property="role_Name" column = "role_Name"/>
        <result property="enabled" column = "enabled"/>
        <result property="create_by" column = "create_by"/>
        <result property="create_time" column = "create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--id=role_id这句话的意思是将role_id赋值给id，作为selectRolebyId中的id条件-->
    <resultMap id="userRoleMapSelect" extends="userMap" type="com.mybatis.chapter3.SysUser">
        <association property="role"
                     column="{id=role_id}"
                     select="com.mybatis.chapter3.UserMapper.selectRolebyId"/>
    </resultMap>

    <select id="selectRolebyId" resultMap="roleMap">
        select * from sys_role where id=#{id}
    </select>
    
    <select id="selectUserAndRoleByIdSelect" resultMap="userRoleMapSelect">
        select
        u.id,
        u.user_name,
        u.user_password,
        u.user_email,
        u.user_info,
        u.head_img,
        u.create_time,
        ur.role_id
        from sys_user u
        inner join sys_user_role ur on u.id = ur.user_id
        where u.id=#{id}
    </select>

    <resultMap id="userRoleListMap" extends="userMap" type="com.mybatis.chapter3.SysUser">
        <collection property="roleList"
                    columnPrefix="role_"
                    resultMap="com.mybatis.chapter3.UserMapper.roleMap">
        </collection>
    </resultMap>

    <select id="selectAllUserAndRoles" resultMap="userRoleListMap">
        select
        u.id,
        u.user_name,
        u.user_password,
        u.user_email,
        u.user_info,
        u.head_img,
        u.create_time,
        r.id role_id,
        r.role_name role_role_Name,
        r.enabled role_enabled,
        r.create_by role_create_by,
        r.create_time role_create_time
        from sys_user u
        inner join sys_user_role ur on u.id = ur.user_id
        inner join sys_role r on ur.role_id = r.id
    </select>
</mapper>


